<p>labs works!</p>
<hr>

{{'USO DE STRING INTERPOLATION'}} <br>
{{'En el string interpolation se usan las dobles llaves {{}} y dentro se pueden usar funciones basicas de Java Script, como .repeat(4)'}} <br>
{{'hola '.repeat(4)}}
<br>
{{'Usar funciones mas complejas requiere usar la logica desde  el archivo.componente.ts guardar en variable e interpolar al archivo.component.html'}}

<p>Hola soy {{ nombre }}</p>

<img [src]="image" alt="">

<hr>

<p> Mi nombre es {{person.yo}}</p>
<p> Mi Apellido es {{person.apellido}}</p>
<p> Mi edad es {{person.edad}}</p>

<hr>

<button (click)="onCLickHandler()">BOTON</button>

<hr>

<p></p>
